@{
    ViewBag.Title = "Home Page";
}

@using asp_web_framewrk.Controllers;
@using asp_web_framewrk.Models;

@{ /*connector co = new connector(); */}

@{
    // Variables
    string UpdateButton = Request.Params.Get("UpdateButton");
    string GoButton = Request.Params.Get("GoButton");
}

<h4 style="color:purple">
    @{
        string idade;
        string nome;

        idade = Request.Params.Get("idade");
        nome = Request.Params.Get("nome");

        // init
        connector.Conectors_open();
        connector.Connectors_verify();

        //verificar se está tudo correto
        connector.cmd.CommandText = connector.Insert_command_sql(idade, nome);
        connector.Conectors_close();

    }

    <b>
        ID: @{
            idade = Request.Params.Get("idade");

            Response.Output.WriteLine(idade);

        }
    </b> <br />

    <b>
        Name: @{


            nome = Request.Params.Get("nome");
            if (nome != String.Empty)
            {
                Response.Output.WriteLine(nome);
            }
            else
            {
                Response.Output.WriteLine("A string não pode ser nula");
            }
        }
    </b> <br />

</h4>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!-- form -->
<form action="Index" method="get">
    <table>
        <tr> <td> Entre com o idade </td> </tr>
        <tr> <td> <input type="text" id="idade" name="idade" /> </td> </tr>

        <tr> <td> Entre com o nome </td> </tr>
        <tr> <td> <input type="text" id="nome" name="nome" /> </td> </tr>

        <tr> <td> <input name="GoButton" type="submit" value="sub" /> </td> </tr>
        <!-- <tr> <td> <input name="UpdateButton" type="submit" value="Update" /> </td> </tr> -->
    </table>
</form>